@model PussyCats.Library.Domain.UserSkill

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserSkill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-userId="@Model.User?.UserId" asp-route-skillId="@Model.Skill?.SkillId" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-userId="@Model.User?.UserId">Back to List</a>
    </form>
</div>
